<!DOCTYPE html>
<html>
<head>
	<title>new post</title>
</head>
<body>
	<h1>fill this out</h1>
	<form action="/post" method=POST>
		<input type="text" name="title">
		<input type="text" name="message">
		<input type="submit" name="submit">
	</form>

	<a href="/">home</a>
	<a href="/post">new post</a>
</body>
</html>